<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TEMPLATE</title>
</head>
<body>
    <div class="row" style="{{fontSize}}">
        <div class="col">
            <h1 style="text-align: center;background-color:blue">Header</h1>
            <img width="200" height="200" src="{{imagePath}}" />
            <br />
            <span style="text-align: center">
                contentTitle: {{contentTitle}}
            </span>
            <br />
            <span style="text-align: center">contentText: {{contentText}}</span>

        </div>
    </div>
    <h1 style="text-align: center; background-color: blue">Footer</h1>
</body>
</html>